<meta charset="UTF-8">

<link rel="stylesheet" href="../css/login.css">

<div id="template_login_id">
  <div id="login_form_id">
    <h1>Войти в личный кабинет</h1>

    <form method="" action="main.html">

      <p><input class="input_text_decoration"
                type="text" name="login" value="" placeholder="Логин или Email"></p>

      <p><input class="input_text_decoration"
                type="password" name="password" value="" placeholder="Пароль"></p>

      <p id="remember_id">
        <label id="remember_label_id">
          <input type="checkbox" name="remember_me" id="remember_input_id">
          Запомнить меня
        </label>
      </p>

      <p>
        <div style="text-align: right">
          <p id="cancel_id"><input class="input_submit_decoration"
                         type="submit" name="cancel" value="Отмена"></p>
          <p id="submit_id"><input class="input_submit_decoration"
                         type="submit" name="commit" value="Войти"></p>
      </p>

    </form>
  </div>

  <div id="login_forgot_id">
    <a class="a_href_decoration" href="#">Забыли пароль?</a>
  </div>
</div>

