<head>
<meta charset="UTF-8">
<link href="../less/common.less" type="text/css" rel="stylesheet/less"/>
<link href="../less/t_club.less" type="text/css" rel="stylesheet/less"/>

<link rel='import' id='template_club' href='template_club.html'>

<script type='text/JavaScript' src='../js/main.js'></script>
</head>

<div id="p_clubs_id">

  <div id="p_clubs_id2">
        <script>create_club_icon("p_clubs_id2", "#template_club",
          "Каменный дракон", "logo_kd_css", "Минск", 55)</script>

    </div>
  <!--script>create_club_description("p_clubs_id", "#template_club",
      "Каменный дракон (Минск)", "logo_kd_css",
      "Дракон расправил крылья.",
      "Грунковский Юрий", "сслыка", "+375 29 ...",
      "г. Минск, Старовиленский тракт 41, МДДМ.")</script>

  <script>create_club_description("p_clubs_id", "#template_club",
      "Победа (Витебск)", "logo_pobeda_css",
      "Порой не верится, друзья, Но в жизни так бывает!.",
      "Бусько Илья Владимирович", "сслыка", "+375 29 ...",
      "г. Витебск, ...")</script-->


</div>