<meta charset="UTF-8">

<link rel="stylesheet" href="../css/register.css">

<div id="template_register_id">
  <div id="register_form_id">
    <h1>Регистрация</h1>

    <form method="" action="main.html">

      <p><input class="input_text_decoration"
                type="text" name="family" value="" placeholder="Фамилия"></p>
      <p><input class="input_text_decoration"
                type="text" name="name" value="" placeholder="Имя"></p>
      <p><input class="input_text_decoration"
                type="text" name="father" value="" placeholder="Отчество"></p>
      <p><input class="input_text_decoration"
                type="date" name="birth_date" value="" placeholder="Дата рождения"></p>
      <p><input class="input_text_decoration"
                type="text" name="birth_city" value="" placeholder="Город рождения"></p>

      <p>
        <div style="text-align: right">
          <p id="cancel_id"><input class="input_submit_decoration"
                         type="submit" name="cancel" value="Отмена"></p>
          <p id="submit_id"><input class="input_submit_decoration"
                         type="submit" name="commit" value="Зарегистрироваться"></p>
      </p>
    </form>

</div>
</div>

