<meta charset="UTF-8">
<link href="../less/common.less" type="text/css" rel="stylesheet/less"/>
<link href="../less/t_club.less" type="text/css" rel="stylesheet/less"/>
<script src="../libs/less.min.js" type="text/javascript"></script>


<div id="t_club_icon_id" style="display: inline-block">
  <div class="ci_name_css">
    <div><a href="#"><span id="ci_name_id"></span></a></div>
  </div>
  <div id="ci_logo_id" class="ci_logo_css"></div>
</div>


<div id="t_club_description_id">

  <div id="cd_title_id">
    <div id="cd_name_id" style="display: inline-block">
      <p id="cd_name_text_id"></p>
      <p id="cd_name_slogan_id"></p>
    </div>
    <div id="cd_emblem_id"
         class="ci_logo_css" style="display: inline-block"></div>
  </div>

  <div id="cd_info_id">
    <p id="cd_info_man_id"></p>
    <p id="cd_info_phone_id"></p>
    <p id="cd_info_address_id"></p>
  </div>
</div>
