#t_players_id {
    width: 1000px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
}

#tp_table_head_id > table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

#tp_table_body_id {
    
}

.head_cell {
    background-color: #6c7ae0;
    color: #fff;
    font-family: Lato-Bold;
    font-size: 16px;
    line-height: 1.4;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}