<head>
  <meta charset="UTF-8">

  <link type="text/css" rel="stylesheet/less" href="../less/p_players.less"/>

  <link rel='import' id='template_player' href='template_player.html'>

  <script type="text/javascript" src="../libs/less.min.js"></script>
  <script type="text/javascript" src="../libs/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../js/p_players.js"></script>
</head>

<div id="players_id">

  <div id="p_table_decoration_id">
    <table id="p_table_id">
      <thead>
      <tr>
        <th>№</th>
        <th>
          <a href="#" class="">Имя</a>
        </th>
        <th>
          <a href="#" class="">Город</a>
        </th>
        <th>Рейтинг</th>
      </tr>
      </thead>
    </table>

    <script>create_player_table("#p_table_id")</script>
  </div>


</div>